/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.container {
  padding-bottom: 2em;
  border-bottom: 1px solid grey;
  margin-bottom: 2em;
}

.container.no-border{
  padding-bottom: 0;
  border-bottom: none;
}

.option-value {
  width: 3em;
  margin-right: 3em;
}
@media (max-width: 1280px) {
  .option-value {
    margin-right: 0;
  }
}

.projects-container .project {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.projects-container .project .project-inner {
  border-radius: 0.5em;
  padding: 0.2em 1em;
}
.project-inner.bg-41 {
  background-color: #fffe9f;
}
.project-inner.bg-42 {
  background-color: #d3b8ea;
}
.project-inner.bg-43 {
  background-color: #c2fbfe;
}
.project-inner.bg-44 {
  background-color: #faa4a9;
}

.project span {
  margin-right: 0.2em;
}
.project span:last-child {
  margin-right: 0;
}

.project-name {
  font-weight: bold;
}

.projects-container .row {
  border: #d9edf7 solid 2px;
  justify-content: flex-start;
  border-radius: 0.5em;
}

.sp-option {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.sp-option * {
  margin-right: 0.4em;
}

.sp-option input[type="checkbox"] {
  height: 1.5em;
}

.sp-option .sp-option-title {
  display: none;
}
.sp-option:first-child .sp-option-title {
  display: block;
}

.sp-option-box {
  display: flex;
  flex-flow: column;
}

.sp-option-title {
  text-align: center;
}

.go-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.go-top-icon {
  font-size: 3em;
  color: grey;
}

select:focus {
  border-color: #c2fbfe;
}

.editor-unit {
}

.editor-buttons {
  text-align: right;
}

.editor-buttons button {
  margin-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.editor-buttons button:last-child {
  margin-right: 0;
}

.editor-switcher {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

@media (max-width: 767px) {
  .editor-buttons button {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .editor-section .btn {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

/* .editor-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.editor-options .editor-option {
  width: 50%;
} */
.editor-options .editor-option span,
.editor-options .editor-option input[type="checkbox"] {
  margin-right: 0.5em;
}
.editor-options .editor-option input[type="text"] {
  width: 250px;
}
.editor-options .editor-option input,
.editor-options .editor-option select {
  margin-bottom: 0.2em;
}

.editor-buttons {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
