/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container {
  margin-bottom: 2em;
}

.option-value {
  width: 3em;
  margin-right: 3em;
}
@media (max-width: 1280px) {
  .option-value {
    margin-right: 0;
  }
}

.projects-container .project {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.projects-container .project .project-inner {
  border-radius: 0.5em;
  padding: 0.2em;
}
.project-inner.bg-41 {
  background-color: #fffe9f;
}
.project-inner.bg-42 {
  background-color: #d3b8ea;
}
.project-inner.bg-43 {
  background-color: #c2fbfe;
}
.project-inner.bg-44 {
  background-color: #faa4a9;
}

.project span {
  margin-right: 0.2em;
}
.project span:last-child {
  margin-right: 0;
}

.project-name {
  font-weight: bold;
}

.projects-container .row {
  border: #d9edf7 solid 2px;
  padding: 0 0.5em;
  justify-content: flex-start;
  border-radius: 0.5em;
}

.sp-option {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.sp-option * {
  margin-right: 0.4em;
}

.sp-option input[type="checkbox"] {
  height: 1.5em;
}

.sp-option .sp-option-title {
  display: none;
}
.sp-option:first-child .sp-option-title {
  display: block;
}

.sp-option-box {
  display: flex;
  flex-flow: column;
}

.sp-option-title {
  text-align: center;
}
